<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ChecarComputadoresServlet</display-name>
    <servlet-name>ChecarComputadoresServlet</servlet-name>
    <servlet-class>ChecarComputadoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChecarComputadoresServlet</servlet-name>
    <url-pattern>/ChecarComputadoresServlet</url-pattern>
  </servlet-mapping>
  <display-name>SistemaLaboratorio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastroUsuarioServlet</display-name>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <servlet-class>CadastroUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <url-pattern>/CadastroUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroComputadorServlet</display-name>
    <servlet-name>CadastroComputadorServlet</servlet-name>
    <servlet-class>CadastroComputadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroComputadorServlet</servlet-name>
    <url-pattern>/CadastroComputadorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroProblemaServlet</display-name>
    <servlet-name>CadastroProblemaServlet</servlet-name>
    <servlet-class>CadastroProblemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroProblemaServlet</servlet-name>
    <url-pattern>/CadastroProblemaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaProblemasServlet</display-name>
    <servlet-name>ConsultaProblemasServlet</servlet-name>
    <servlet-class>ConsultaProblemasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaProblemasServlet</servlet-name>
    <url-pattern>/ConsultaProblemasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaLaboratoriosServlet</display-name>
    <servlet-name>ConsultaLaboratoriosServlet</servlet-name>
    <servlet-class>ConsultaLaboratoriosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaLaboratoriosServlet</servlet-name>
    <url-pattern>/ConsultaLaboratoriosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstalarSoftwaresServlet</display-name>
    <servlet-name>InstalarSoftwaresServlet</servlet-name>
    <servlet-class>InstalarSoftwaresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstalarSoftwaresServlet</servlet-name>
    <url-pattern>/InstalarSoftwaresServlet</url-pattern>
  </servlet-mapping>
</web-app>